**Control Flow**

    if, else & elif

**OTHER Languages:**

    if (logic){ value_if_True } else{ value_if_False }

**PYTHON:**

    if logic:
        value_if_True
    else:
        value_if_False

In [2]:
if True:
    print("Hello")
else:
    print("World")

Hello

In [3]:
if False:
    print("Hello")
else:
    print("World")

World

In [4]:
x = int(input("Please enter an integer: "))

if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Please enter an integer: 5
More

In [5]:
user = input("User: ")
password = input("Pass: ")

if (user=="Aslam" or user=="Haseeb") and password=="123":
    print("Valid User!")
else:
    print("Invalid User")

User: Haseeb
Pass: 123
Valid User!

In [6]:
user = input("User: ")
password = input("Pass: ")

if (user in ['amir',"umair","haseeb"]) and password=="123":
    print("Valid User!")
else:
    print("Invalid User")

User: amir
Pass: 123
Valid User!

**Loop**

    1) While
    2) For statement

    1) While
        Counter
        Logic
        Increment / Decrement

In [7]:
counter = 1 # Counter

while counter <= 10: #Logic
    print("line no",counter)
    counter += 1 # Increment

line no 1
line no 2
line no 3
line no 4
line no 5
line no 6
line no 7
line no 8
line no 9
line no 10

In [8]:
counter = 10 #counter
while counter>=1: #logic
    print("line no", counter)
    counter -= 1 # Decrement

line no 10
line no 9
line no 8
line no 7
line no 6
line no 5
line no 4
line no 3
line no 2
line no 1

**for Loop**

In [10]:
# print each strings of list:
words = ['cat', 'window', 'defenestrate']
for word in words:
  print (word)

cat
window
defenestrate

In [11]:
# print each strings of list:
words = ['cat', 'window', 'defenestrate']
for word in words:
  print (word, len(word))

cat 3
window 6
defenestrate 12

**Range Function**

    arange(5, 10) ---> 5, 6, 7, 8, 9

    range(0, 10, 3) ---> 0, 3, 6, 9

    range(-10, -100, -30) ---> -10, -40, -70

In [14]:
range(-10, -100, -30)

range(-10, -100, -30)

In [16]:
for i in range(5):
  print(i)

0
1
2
3
4

In [18]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in a:
  print(i)

Mary
had
a
little
lamb

In [19]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
  print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [20]:
sum(range(4))

6

In [21]:
list(range(4))

[0, 1, 2, 3]

In [22]:

for i in range(1,11):
    #print(2,"X",i,"=",i*2)
    #print("2 X "+str(i)+" = "+str(i*2))
    print(f"2 X {i} = {i*2}") #string formatting

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [24]:
for i in range(10,0,-1):
    #print(2,"X",i,"=",i*2)
    #print("2 X "+str(i)+" = "+str(i*2))
    print(f"2 X {i} = {i*2}") #string formatting

2 X 10 = 20
2 X 9 = 18
2 X 8 = 16
2 X 7 = 14
2 X 6 = 12
2 X 5 = 10
2 X 4 = 8
2 X 3 = 6
2 X 2 = 4
2 X 1 = 2

In [28]:
#user = int(input("Enter no"))
user = int(input("Enter no for table: ")) # by default input will be in string
for a in range(1,user+1):
  print(f"Table of {a} : ")
  for b in range(1,11):
    print(f"{a} X {b} = {a*b}")
  print("\n")

Enter no for table: 4
Table of 1 :
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10


Table of 2 :
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20


Table of 3 :
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30


Table of 4 :
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

In [41]:
#user = int(input("Enter no"))
user = int(input("Enter no for table: ")) # by default input will be in string
for b in range(1,11):
  for a in range(1,user+1):
    print(f"{a} X {b} = {a*b}", end="\t")
  print("")

Enter no for table: 3
1 X 1 = 1	2 X 1 = 2	3 X 1 = 3
1 X 2 = 2	2 X 2 = 4	3 X 2 = 6
1 X 3 = 3	2 X 3 = 6	3 X 3 = 9
1 X 4 = 4	2 X 4 = 8	3 X 4 = 12
1 X 5 = 5	2 X 5 = 10	3 X 5 = 15
1 X 6 = 6	2 X 6 = 12	3 X 6 = 18
1 X 7 = 7	2 X 7 = 14	3 X 7 = 21
1 X 8 = 8	2 X 8 = 16	3 X 8 = 24
1 X 9 = 9	2 X 9 = 18	3 X 9 = 27
1 X 10 = 10	2 X 10 = 20	3 X 10 = 30

In [42]:
# Task
# Make a table which ask user how many table you want to draw and also the ending point.
uc = int(input("Enter Table no: "))
ur = int(input("Enter Last value: "))

for r in range(1,ur+1):
    for c in range(1, uc+1):
        print(f"{c} X {r} = {c*r}", end="\t")
    print()

Enter Table no: 4
Enter Last value: 5
1 X 1 = 1	2 X 1 = 2	3 X 1 = 3	4 X 1 = 4
1 X 2 = 2	2 X 2 = 4	3 X 2 = 6	4 X 2 = 8
1 X 3 = 3	2 X 3 = 6	3 X 3 = 9	4 X 3 = 12
1 X 4 = 4	2 X 4 = 8	3 X 4 = 12	4 X 4 = 16
1 X 5 = 5	2 X 5 = 10	3 X 5 = 15	4 X 5 = 20

**break and continue Statements, and else Clauses on Loops**

In [43]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [44]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
    print("Found an odd number", num)

Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9

**Pass statements**

The pass statement does nothing. It can be used when a statement is required syntactically but the program requires no action.

In [ ]:
while True:
    pass  # Busy-wait for keyboard interrupt (Ctrl+C)

In [ ]:
class MyEmptyClass:
    pass

In [ ]:
def initlog(*args):
    pass   # Remember to implement this!