## Python Variables

In [54]:
a = 0
b = 2
print(a,b,a+b)

0 2 2

In [55]:
a = "0"
b = "2"
print(a,b,a+b)

0 2 02

In [56]:
a = "0"
b = 2
print(a,b,a+b)

TypeError: can only concatenate str (not "int") to str

###### to avoid this aforementioned we do have type casting

In [61]:
a = "0"
b = 2
print(int(a),b,int(a)+b)
print(type(a), type(b))

0 2 2
<class 'str'> <class 'int'>

In [62]:
a = "0"
b = 2
int(a) # can we change data type through this method, answer > Result (Error > No)
print(a,b,a+b)

TypeError: can only concatenate str (not "int") to str

if not, then it's going to be ...

In [83]:
a = "0"
b = 2
a = int(a)
print(a,b,a+b)

0 2 2

### Combining or Concatenating String

In [84]:
first_name = "Haseeb"
last_name = "Aslam"
full_name = first_name +" "+ last_name
print(first_name+last_name, full_name)

HaseebAslam Haseeb Aslam

### DocString

In [85]:
name = '''Muhammad Haseeb Aslam''' # not a prefered colons to use for docString
print(name)
name

Muhammad Haseeb Aslam

'Muhammad Haseeb Aslam'

In [86]:
details = """
Name :-  Muhammad Haseeb Aslam
City :- Magdeburg, Germany
Uiversity :- OVGU
"""
print(details)
details

Name :-  Muhammad Haseeb Aslam
City :- Magdeburg, Germany
Uiversity :- OVGU

'\nName :-  Muhammad Haseeb Aslam\nCity :- Magdeburg, Germany\nUiversity :- OVGU\n'

In [87]:
#ID Card For Univeristy
details = """
OVGU Magdeburg
Name :-  Muhammad Haseeb Aslam
En_Roll :- 2244556
Program :- DKE Batch :- Summer25
"""
print(details)

OVGU Magdeburg
Name :-  Muhammad Haseeb Aslam
En_Roll :- 2244556
Program :- DKE Batch :- Summer25

In [88]:
#ID Card For Univeristy
#it's help when you don't want to change the doc string format..
name = "Muhammad Haseeb Aslam"
en_roll = "2443356"
program = "DKE"
batch = "Summer25"

details = f"""
OVGU Magdeburg
Name :-  {name}
En_Roll :- {en_roll}
Program :- {program} Batch :- {batch}
"""
print(details)
details

OVGU Magdeburg
Name :-  Muhammad Haseeb Aslam
En_Roll :- 2443356
Program :- DKE Batch :- Summer25

'\nOVGU Magdeburg\nName :-  Muhammad Haseeb Aslam\nEn_Roll :- 2443356\nProgram :- DKE Batch :- Summer25\n'

Changing Cases

In [89]:
name = "Muhammad Haseeb Aslam"
name

'Muhammad Haseeb Aslam'

In [90]:
name.upper() #shallow copy

'MUHAMMAD HASEEB ASLAM'

In [91]:
name.title() #shallow copy

'Muhammad Haseeb Aslam'

In [92]:
name.lower() #shallow copy

'muhammad haseeb aslam'

In [93]:
name #orignal data remain same...

'Muhammad Haseeb Aslam'

Avioding Extra Spaces

In [94]:
name =  "Haseeb  Aslam   "
print(name) # will gonna return org. data as string
name

Haseeb  Aslam

'Haseeb  Aslam   '

In [95]:
name.rstrip() # return data without spaces only if its on last with shallow copy

'Haseeb  Aslam'

"Is" Keyword

In [96]:
#How "is" keyword return True if values are same
num1 = 1
num2 = 1
num1 is num2

True

In [97]:
# Reason of "is" to return True if value's are same...
# if the value is same then the id of variable's in which value store will also same...
print(id(num1))
print(id(num2))

10750856
10750856

## Airthmetic Operators
* (+) Addition
* (-) Subtraction
* (*) Multiplication
* (/) Division
* (//) floor Division
* (%) Modulus
* (**) Power

(+) Addition

In [98]:
3+6  #int + int = int

9

In [99]:
#int/float + float = float
3+6.6 #int + float = float

9.6

In [100]:
'3'+6 #str + int/float = not possible without type casting

TypeError: can only concatenate str (not "int") to str

In [101]:
#type casting
int('3')+6

9

In [102]:
'3'+'6' #str + str = str

'36'

In [103]:
["Haseeb","Aslam"] + ["Zahid","Abrar"] #adding/concatenate string's list

['Haseeb', 'Aslam', 'Zahid', 'Abrar']

In [104]:
["Haseeb","Aslam"] + [1,6] #adding/concatenate string's and int's list

['Haseeb', 'Aslam', 1, 6]

In [105]:
("Haseeb","Aslam") + ("Zahid","Abrar") #adding/concatenate string's tuple

('Haseeb', 'Aslam', 'Zahid', 'Abrar')

In [106]:
("Haseeb","Aslam") + (1,6) #adding/concatenate string's and int's tuple

('Haseeb', 'Aslam', 1, 6)

In [107]:
#adding/concatenate/+ is not allow to apply on dict{:,:,:,...} and set{}

(-) Subtraction

In [108]:
5-2

3

In [109]:
5.2-2

3.2

In [110]:
{5,6,7,8} - {6,2} #set subtraction --> intersection

{5, 7, 8}

In [111]:
{"Haseeb", "Ali", "Zabi"} - {"Zabi"}#set subtraction --> intersection

{'Ali', 'Haseeb'}

In [112]:
#sub/- is not allow to apply on dict{:,:,:,...}, tuple ( , , ,...) and list[     , , ,...]

(*) Multiplication

In [113]:
3*8

24

In [114]:
3.0 * 6

18.0

In [115]:
'3 '*6

'3 3 3 3 3 3 '

In [116]:
a = ('3 ')
print(type(a))
('3 ')*6        # taking it as simple string not tuple...

<class 'str'>

'3 3 3 3 3 3 '


### ( ) stand alone refelcts doesn't until unless their is , in ( ), like wise (,) in tuple. But for list [ ] are enough.

In [117]:
a = ('3 ',)
print(type(a))
('3 ',)*6      #taking it as simple tuple...

<class 'tuple'>

('3 ', '3 ', '3 ', '3 ', '3 ', '3 ')

In [118]:
a = ['3']
print(type(a))
['3 ',]*6      #taking it as simple tuple...

<class 'list'>

['3 ', '3 ', '3 ', '3 ', '3 ', '3 ']

In [119]:
#multiplication/*  is not allow to apply on dict{:,:,:,...} and set{}

(/) Devision

In [120]:
11 / 3 # division always return float

3.6666666666666665

In [121]:
#Division /  is not allow to apply on Lists, Tuples, String, dict{:,:,:,...} and set{}

// or Floor Division

In [122]:
11 // 3 # floor division always return int

3

 ###   % / Modulus  
                
             ___3___
        __3_|   11  |____   
                9
            ----------
                2   # Modulus

In [123]:
11 % 3

2

** / Power

In [124]:
#power
print(2 ** 3)
print((1+1) ** 3)
print(2.5 ** 3)

8
8
15.625

In [125]:
## Next
## Comparison (Relational) Operators